{% load currency_filters %}
{% load i18n %}

<ul class="cart span3 offset9 hidden-phone">
    <li>
        <div class="btn-group pull-right-control">
            <a class="btn" href="{% url basket:summary %}"><strong>{% trans "Basket total:" %} <span>{{ request.basket.total_incl_tax|currency }}</span></strong>{% comment%} {% trans "View Basket" %}{% endcomment %}</a>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li>{% include "basket/partials/basket_quick.html" %}</li>
            </ul>
        </div>
    </li>
    {% comment %}<li class="cart_summary"><strong>{% trans "Basket total:" %} <span>{{ request.basket.total_incl_tax|currency }}</span></strong></li>{% endcomment %}
</ul><!-- /cart -->
